<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673303032642-ue1dni15ptke85vock0pbn4b3nvi054d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673303032642-ue1dni15ptke85vock0pbn4b3nvi054d</string>
	<key>API_KEY</key>
	<string>AIzaSyDn2MsHjpOVpqUFtebtCq8H8ZE5gzwFiIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>673303032642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sivabijinepally.telugukathalu</string>
	<key>PROJECT_ID</key>
	<string>telugu-kathalu</string>
	<key>STORAGE_BUCKET</key>
	<string>telugu-kathalu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673303032642:ios:d1ac58b5c6f2f220</string>
	<key>DATABASE_URL</key>
	<string>https://telugu-kathalu.firebaseio.com</string>
</dict>
</plist>